@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Auth0Account", new { returnUrl = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="#" id="get-customers">Get Customers</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }

    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#get-customers').on('click', function () {
                $.ajax({
                    url: '/api/customers',
                    dataType: 'json',
                    beforeSend: function (request) {
                        var id_token = '@System.Security.Claims.ClaimsPrincipal.Current.FindFirst("id_token").Value';
                        request.setRequestHeader("Authorization", "Bearer " + id_token);
                    },
                    success: function (data, status, jqHXR) {
                        alert(JSON.stringify(data));
                    },
                    error: function (resp) {
                        if (resp.status === 401) {
                            alert('Unauthorized');
                        } else {
                            alert('Error');
                        }

                    }
                });
            });
        });
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="javascript:showLock();">Login</a></li>
    </ul>

    <script src="https://cdn.auth0.com/js/lock-8.2.min.js"></script>
    <script type="text/javascript">
        if (!window.location.origin) {
            window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
        }

        var lock = new Auth0Lock(
            '@System.Configuration.ConfigurationManager.AppSettings["auth0:ClientId"]',
            '@System.Configuration.ConfigurationManager.AppSettings["auth0:Domain"]');

        function showLock() {
            // optional: set xsrf and returnUrl
            /* var xsrf = 'your_xsrf_random_string';
            var returnUrl = window.location.pathname;*/

            lock.show({
                callbackURL: window.location.origin + '/signin-auth0'
                , responseType: 'code'
                , authParams: {
                    scope: 'openid profile'
                }
            });

        }
    </script>
}
