@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <!-- Auth0 Login widget -->
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="javascript:showWidget();">Login</a></li>
    </ul>

    <script src="https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-2.3.min.js"></script>
    <script type="text/javascript">
        var widget = new Auth0Widget({
            domain:       '@System.Configuration.ConfigurationManager.AppSettings["auth0:Domain"]',
            clientID:     '@System.Configuration.ConfigurationManager.AppSettings["auth0:ClientId"]',
            callbackURL:  '@System.Configuration.ConfigurationManager.AppSettings["auth0:AppCallback"]'
        });

        function showWidget() {
            widget.signin({
                state: 'xsrf=0123456789&ru=/foo'
            });
        }
    </script>
    
    <!-- Auth0 Login page -->
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
