@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Auth0Account", new { returnUrl = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="#" id="get-customers">Get Customers</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
    
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#get-customers').on('click', function () {
                $.ajax({
                    url: '/api/customers',
                    dataType: 'json',
                    beforeSend: function (request) {
                        var id_token = '@System.Security.Claims.ClaimsPrincipal.Current.Claims.SingleOrDefault(c => c.Type == "id_token").Value';
                        request.setRequestHeader("Authorization", "Bearer " + id_token);
                    },
                    success: function (data, status, jqHXR) {
                        alert(JSON.stringify(data));
                    },
                    error: function (resp) {
                        if (resp.status === 401) {
                            alert('Unauthorized');
                        } else {
                            alert('Error');
                        }

                    }
                });
            });
        });
    </script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><a href="javascript:void(0);" onclick="widget.signin();">Login</a></li>
    </ul>
    
    <script src="https://cdn.auth0.com/w2/auth0-widget-3.0.min.js"></script>
    <script type="text/javascript">
        if (!window.location.origin) {
            window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
        }

        var widget = new Auth0Widget({
            domain: '@System.Configuration.ConfigurationManager.AppSettings["auth0:Domain"]',
            clientID: '@System.Configuration.ConfigurationManager.AppSettings["auth0:ClientId"]',
            callbackURL: window.location.origin + '/signin-auth0'
        });
    </script>
}
